/*-- scss:defaults --*/
$body-bg: #FFFFFF;

/* Defining variables */
:root {
  --title-font-size: 60px; /* Adjust this value as needed */
}

/*-- scss:rules --*/
/* Styling title */
.title {
  font-size: var(--title-font-size) !important; /* Setting font size for title */
}